
/*We need to fix the background so that it only covers the outer right and left side of the page*/
body {
	background-image: url(../images/nba-teams.png);
	position: relative;
	background-size: cover;
	height: 100%;
	text-align: center;
}

html { 
	height: 100%;
}

button {
	position: absolute;
	bottom: 2%;
	right: 45%;
}

.navbarBackground {
	background-color: #701d11;
}

/*Answer choices diplayed on the page*/
.usersChoice {
	font-size: 25px;
	clear: both;
}

/*animation when the mouse hovers over answer choices*/
.usersChoice:hover {
	background-color: red;
	border-bottom: 3px black solid;
}


/*Mainly used to push the footer down to the bottom*/
.container {
	height: 80%;
}

.row {
	padding-top: 2%;
}
/*used for the section that contains content the user is intended to see*/
 .whiteBackground {
 	position: relative;
	background-color: white;
	height: 400px;
}

/*NBA logo in nav bar */
#nbaLogo {
	height: 35px;
	width: auto;
	border: black 2px solid;
	border-radius: 20px;
}


#question {
	font-size: 22px;
	clear: both;
}

img {
	height: 230px;
}


/*footer styling*/
#footer {
    position: absolute;
    bottom: 0;
    background-color: #701d11;
    border-top: 1px solid white;
    width: 100%;
    height: 50px;
    text-align: center;
    padding-top: 10px;
}